* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: black;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.349);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.404);
}

.logo {
  position: absolute;
  top: 0;
  height: 100px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container h1,
.logo-container h4 {
  margin-left: 150px;
}

.logo-container h1 {
  color: #f58a43;
  font-size: 1rem;
}

.logo-container h4 {
  font-size: 0.8rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  /* background-color: rgb(136, 136, 42); */
  padding: 25px;
  font-size: 0.9rem;
  margin: 0.4rem;
}

.nav-link:hover,
.account-container a:hover {
  color: #f77c2b;
}

.account-container {
  /* width: 25%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.account-container a {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 25px;
  margin: 0.4rem;
}

.jumbotron {
  height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.4rem;
}

.jumbotron h4 {
  font-size: 1rem;
}

.jumbotron h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.jumbo-button {
  height: 60px;
  width: 200px;
  margin: 1rem;
  border: none;

  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;

  border-radius: 8px;

  cursor: pointer;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.fill {
  background: linear-gradient(
    75deg,
    rgb(255, 17, 0) 0%,
    rgb(215, 84, 8) 45%,
    rgba(255, 163, 0, 1) 100%
  );
  color: white;
}

.stroke-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #f77c2b;
  -webkit-text-stroke-width: 0.01rem;
}

.stroke-button {
  background-color: transparent;
  border: 1px solid #f77c2b;
  color: #f77c2b;
  transition: all 0.24s ease;
}

.stroke-button:hover {
  background-color: #f77c2b;
  color: white;
}

/** Login */

.sign-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.sign-card {
  background-color: #aa4923;
  width: 30%;
  height: 60%;
  border-radius: 9px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-card h1 {
  margin: 3rem;
}

.sign-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* border-top: 3px solid #ebb2b2; */
  /* background-color: #994f12; */
  height: 100%;
  width: 100%;
  position: relative;
}

.sign-inputs input {
  padding: 1rem;
  margin: 0.4rem;
  border-radius: 5px;
  border: none;
}

.sign-inputs button {
  padding: 1rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.sign-submit {
  position: absolute;
  bottom: 15px;

  display: flex;
  flex-direction: column;
}

.sign-submit a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
